.grid-container {
  display: flex;
}

.grid {
  max-width: 80%;
  margin: auto;
  display: grid;
  cursor: pointer;
}
<<<<<<< HEAD
=======

.button {
  margin: 20px 10px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

>>>>>>> a4bea3d4c2c84dfd039b05e195c683846018c28a
